/* CSS BY ENDER EMIROGLU */


/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS RESET - http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-size: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  min-width: 400px;
  font-family: "Inter", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
  --blue: #007BFF;
  --red: #FF4500;
  --white: #EAEAEA;
  --black: #000000;
  --charcoal: #333333;
  --font: "Inter", sans-serif;
}

/* GLOBAL STYLES */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

main > section h2 {
  padding: 0 0 20px 15px;
}

main > section.container {
  padding-top: 40px;
  line-height: 1.5;
}

/* HEADER */
header {
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

header h1::before {
  content: "";
  width: 50px;
  height: 50px;
  background: url('images/vanguard-logo.svg') no-repeat center/contain;
  display: inline-block;
  margin-right: 0.5rem;
  transform: translateY(10px);
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div a {
  display: flex;
  color: var(--blue);
  text-decoration: none;
  font-size: 1.8rem;
  gap: 10px;
  vertical-align: middle;
}

/* NAVIGATION */
nav {
  position: relative;
}

nav h2 {
  visibility: hidden;
  height: 1px;
}

#menu-button {
  display: none;
}

nav label {
  display: inline-block;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: -15px;
}

label span {
  background-color: var(--white);
  display: block;
  height: 0.25rem;
  width: 2rem;
  position: relative;
}

label span::before,
label span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
}

label span::before {
  top: 0.75rem;
}

label span::after {
  top: -0.75rem;
}

nav ul {
  max-height: 0;
  overflow: hidden;
  max-width: 200px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav ul a {
  display: block;
  width: 100%;
  color: var(--blue);
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-decoration: none;
  transition: all 0.5s;
}

nav ul a:hover {
  background-color: var(--blue);
  color: var(--black);
}

nav input:checked ~ ul {
  max-height: 500px;
}

/* INNOVATION SECTION */
#innovation-and-investment {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/vanguard-hero.jpg") no-repeat center center/cover;
  height: 80vh;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  box-shadow: inset 0px 45px 40px -38px var(--blue);
}

#innovation-and-investment > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: var(--white);
  backdrop-filter: blur(10px);
  padding: 20px 20px 0;
  line-height: 1.5;
}

#innovation-and-investment a {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease-out;
  width: fit-content;
  margin: 0 auto;
}

#innovation-and-investment a:hover {
  transform: scale(1.1);
  background-color: var(--red);
}

/* ANIMATIONS */
@keyframes stepUp {
  0% { height: 0; }
  100% { height: var(--height); }
}

@keyframes heading-drop {
  0% { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

h2, h3, #innovation-and-investment a {
  animation: heading-drop 1s ease-out;
}

/* BAR CHART */
#bar-chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-end;
  justify-content: space-around;
  gap: 1rem;
  height: 300px;
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.bar {
  width: 50px;
  background: var(--charcoal);
  border-radius: 10px;
  position: relative;
  transition: height 1s;
  height: 0;
  animation: stepUp 1s ease-in-out forwards;
}

.bar::after {
  content: attr(data-year);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.cards > section {
  background-color: var(--blue);
  color: var(--white);
  padding: 20px 15px 15px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.cards > section:hover {
  transform: translateY(-10px);
}

.cards h3 {
  padding: 10px;
  font-size: 1.3rem;
}

/* RESULTS */
#result-section {
  background-color: var(--blue);
  color: white;
  padding: 40px;
  margin-top: 70px;
  line-height: 1.5;
}

#result-section h3 {
  font-size: 1.8rem;
  margin: 20px 0 30px 15px;
}

table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

th {
  font-weight: bold;
}

tr {
  background-color: var(--black);
}

tr:nth-of-type(even) {
  background-color: var(--charcoal);
}

td, th {
  border: 1px solid var(--charcoal);
  padding: 20px;
}

#results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: end;
  height: 100%;
}

#results > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* CONTACT */
main > section:last-child {
  background-color: var(--black);
  color: var(--white);
  padding: 40px;
  line-height: 1.5rem;
}

main > section:last-child > h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 10px;
  width: 100%;
}

form input,
form textarea {
  padding: 0.75rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 3px solid var(--charcoal);
}

form input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  border: none;
  transition: all 0.4s ease-out;
}

form input[type="submit"]:hover {
  transform: scale(1.01);
  background-color: var(--red);
}

/* FOOTER */
footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 40px;
  line-height: 1.5;
}

address > p:last-of-type a:last-of-type {
  text-decoration: none;
  color: var(--white);
}

/* MEDIA QUERIES */
@media screen and (min-width: 800px) {
  nav label {
    display: none;
  }

  nav ul {
    max-height: none;
    flex-direction: row;
    max-width: none;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  #results {
    grid-template-columns: 1fr 1fr;
  }

  .results-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .results-table,
  .bar-chart {
    width: 50%;
  }

  form input,
  form textarea {
    max-width: 90%;
  }

  form input[type="submit"] {
    max-width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 50px 40px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  form input,
  form textarea {
    max-width: 95%;
  }

  form input[type="submit"] {
    max-width: 100%;
  }
}
